@import 'colors';
@import 'menu';

$myFontSize: 19px;

@mixin speacial-button{
    color: red;
    padding: 10px+5;
    margin: 10px*2;
    background-color: wheat;
    border-radius: 10px-2;
    width: 100px/2;
    height: 40px;
}

@mixin bordered($color: red, $width: 2px){
    @if ($width == 2px){
        border: $color dotted $width;
    } @else {
        border: $color solid $width;

    }
}

@mixin transform($property){
    -webkit-transform: $property;
    -ms-transform: $property;
    transform: $property;
}

div{
    $myColor: green;
    background-color: rgb(179, 197, 194);
    color: $myColor;
}

p{
    color: $myColor;
}

.ozel-btn-ilk{
    @include speacial-button;
    @include bordered(blue,4px);
    &:hover{
        background-color:firebrick;
        color: white;
        @include transform(rotate(20deg));
        transition: .3s
    }
}

.ozel-btn-iki{
    @include speacial-button;
    @include bordered;

    &:hover{
        background-color: tomato;
        color: chartreuse;
    }
}

@for $item from 1 through 5{
    .cocuk-#{$item}{
        background-color: royalblue;
        color: white;
        margin: 10px;
        padding: 10px;
    }
}

$counter: 1;

@while ($counter < 3){
    .cocuk-#{$counter}:hover{
        background-color: red;
        cursor: pointer;
        color: white;
    }
    $counter: $counter + 1;
}

$numbers: 2,3,5;

@each $number in $numbers{
    .cocuk-#{$number}{
        background-color: bisque;
        color: red;
    }
}


